/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
/* Responsive Utilities */
@media (max-width: 767.98px) {
    .main-content {
        margin-left: 0;
   }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .menu-item {
        padding: 15px;
   }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .menu-item {
        padding: 20px;
   }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .hero {
        padding: 150px 0;
   }
    .menu-item {
        padding: 30px;
   }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .hero {
        padding: 200px 0;
   }
    .menu-item img {
        max-width: 100%;
        height: auto;
   }
}
.nav-link .badge {
    position: relative;
    top: -10px;
    right: -4px;
    color: #fff;
    background-color: #563d1b;
   /* Using Bootstrap's warning color for contrast */
}
.video-responsive {
    overflow: hidden;
    padding-top: 56.25%;
   /* 16:9 Aspect Ratio */
    position: relative;
    height: 0;
}
.video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Main Content Styles */
.main-content {
    margin-left: 0px;
    padding: 0px;
    transition: margin-left 0.3s ease-in-out;
}
.main-content.open {
    margin-left: 0;
}
/* Header Styles */
.navbar {
    box-shadow: 0 2px 5px #563d1b;
}
/* Hero Section Styles */
.hero {
    background-image: url('images/tinified/An\ artfully\ arranged\ scene\ showcasing\ a\ variety\ of\ coffee-related\ elements.\ In\ the\ center\,\ a\ burlap\ sack\ overflows\ with\ glossy\,\ dark\ roasted\ coffee\ be.webp');
    background-size: cover;
    background-position: center;
    background-color: #563d1b;
    padding: 100px 0;
}
.hero h1 {
    font-size: 48px;
    font-weight: bold;

}
.hero p {
    font-size: 24px;
    margin-bottom: 30px;
}
/* Menu Section Styles */
.menu {
    padding: 50px 0;
}
.menu-item {
    margin-bottom: 30px;
}
.menu-item img {
    max-width: 100%;
    height: auto;
}
/* About Section Styles */
.about {
    background-color: #563d1b;
    padding: 50px 0;
}
/* Contact Section Styles */
.contact {
    padding: 50px 0;
}
.contact form {
    max-width: 600px;
    margin: 0 auto;
}
.location {
   /* Adjust padding and margin as necessary */
    padding: 20px 0;
   /* Example: reduces top and bottom padding */
}
.google-map {
    position: relative;
    overflow: hidden;
   /* padding-top: 56.25%;
    Aspect ratio 16:9 */
    width: 100%;
   /* Ensure full width for responsiveness */
    height: 450px;
}
.google-map iframe {
    width: 100%;
   /* Ensures iframe is responsive */
    height: 450px;
    border: 0;
}
/* Contact Us Button Section Styles */
.contact-us-button-section {
    padding: 50px 0;
    text-align: center;
   /* Centers the button */
}
/* Responsive Spacing Between Sections */
section {
    margin-bottom: 30px;
   /* Adds space between sections */
}
@media (min-width: 768px) {
    section {
        margin-bottom: 60px;
       /* Larger space between sections on tablets and above */
   }
}
@media (min-width: 992px) {
    section {
        margin-bottom: 80px;
       /* Even larger space between sections on desktops and above */
   }
}
/* Footer Styles */
footer {
    background-color: #563d1b;
    color: #fff;
    padding: 20px 0;
}
footer p {
    margin-bottom: 0;
}
footer ul {
    margin-bottom: 0;
}
footer a {
    color: #fff;
}

.accordion {
    list-style-type: none;
    padding: 0;
}

.accordion li {
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.accordion li a {
    display: block;
    padding: 10px;
    background-color: #fff;
    text-decoration: none;
    color: #000000;
}

.accordion li p {
    padding: 10px;
    background-color: #fff;
    display: none;
}

.accordion li a.active + p {
    display: block;
}

a:focus, button:focus {
    outline: 2px solid #ff0000; /* a red outline */
    outline-offset: 2px;
}

button:focus, .owl-item[tabindex="0"]:focus {
    outline: 2px solid #1100ff; /* a blue outline for better visibility */
    outline-offset: 2px;
}

.btn-primary {
    background-color: #1100ff !important;
}

.hero h1,
.hero p {
    color: #fff; /* White color */
}

.menu-categories .btn-outline-primary {
    color: #1100FF;
    border-color: #1100FF;
}

.menu-categories .btn-outline-primary:hover {
    background-color: #1100FF;
    color: #fff;
}
